/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Lluvia.webp'); /* Imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

/* Estilo del header */
 


h1 {
    margin: 0;
}

/* Sección de la foto */
#photo-section {
    text-align: center;
    margin: 2rem 0;
}

#photo-section img {
    max-width: 40%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Sección de mensajes */
#message-section {
    text-align: center;
    margin: 2rem;
}

#message-section h2 {
    color: #fffd69c1; /* Color rosa para el título de mensajes */
}

/* Sección de mensajes */
#message-section {
    text-align: center;
    margin: 2rem;
}

#message-section h2 {
    color: #efed58; /* Color rosa para el título de mensajes */
}

#message {
    max-width: 80%;
    margin: 0 auto;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad para el mensaje */
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    line-height: 1.6;
}
/* Sección de mensajes */
#message-section2 {
    text-align: center;
    margin: 2rem;
}

#message-section2 h2 {
    color: #fffd69c1; /* Color rosa para el título de mensajes */
}

/* Sección de mensajes */
#message-section2 {
    text-align: center;
    margin: 2rem;
}

#message-section2 h2 {
    color: #efed58; /* Color rosa para el título de mensajes */
}

#message {
    max-width: 80%;
    margin: 0 auto;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad para el mensaje */
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    line-height: 1.6;
}
/* Sección de mensajes */
#message-section {
    text-align: center;
    margin: 2rem;
}

#message-section h2 {
    color: #fffd69c1; /* Color rosa para el título de mensajes */
}

/* Sección de mensajes */
#message-section {
    text-align: center;
    margin: 2rem;
}

#message-section h2 {
    color: #efed58; /* Color rosa para el título de mensajes */
}

#message2 {
    max-width: 80%;
    margin: 0 auto;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad para el mensaje */
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    line-height: 1.6;
}